*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_header{
    width: 100vw;
    height: 100vh;
    background-color:$bg-color;
   place-items: center;
    display: grid;
}
h1{
    color:red;
    font-size: 5rem+2rem;
}


///operators
///Variables
///nesting----- we can use & at the place of classname also we can uses the elements
///Mixin --- when we want to use same property at many times you can use mixin like @keyframes
//  @mixin propertryname {
         /////
///}
// where you want to use 
  /// classname{
      /// @include mixinname

      //}

html{
    font-size: 65.2%;
}
$bg-color:#565656;